<nav class="breadcrumb breadcrumb-pdp breadcrumb--floating container--lg" aria-label="{{ 'general.breadcrumb.label' | t | escape }}">
  <ol class="breadcrumb__list unstyled-list">
    <li class="breadcrumb__list-item">
      <a href="{{ routes.root_url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">{{ 'general.breadcrumb.home' | t }}</a>
    </li>

    <li class="breadcrumb__list-item">
      <a href="{{ routes.all_products_collection_url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">{{ 'general.breadcrumb.shop' | t }}</a>
    </li>

    <li class="breadcrumb__list-item">
      <a href="#" aria-current="page" class="smallcaps {% unless show_image %}link-faded{% endunless %} collection-item-breadcrumb"></a>
    </li>

    <li class="breadcrumb__list-item">
      <a href="{{ product.url }}" aria-current="page" class="smallcaps {% unless show_image %}link-faded{% endunless %}">{{ product.title }}</a>
    </li>
  </ol>
</nav>