{% comment %}
    PROPS 
    show_quick_buy: Boolean to show/hide the quick buy button
    quick_buy_context: String to differentiate quick buy modals in the same page
    product: Product object
    section: Section object
    block: Block object (if applicable)
{% endcomment %}
{%- if show_quick_buy and product.available -%}
    {%- if product.variants.size == 1 and product.selling_plan_groups.size == 0 -%}
        <product-form>
        {%- form 'product', product -%}
            <input type="hidden" name="on_success" value="force_open_drawer">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <button type="submit" class="button quick_button_add_to_card">
            <span class="sr-only">{{ 'product.general.add_to_cart_button' | t }}</span>
            {{ 'sections.custom_quick_add_button.label_button' | t }}
            </button>
        {%- endform -%}
        </product-form>
    {%- else -%}
        {%- capture quick_buy_id -%}product-quick-buy-{{ section.id }}-{{ block.id }}-{{ quick_buy_context }}-{{ product.id }}{%- endcapture -%}

        <button type="button" aria-controls="{{ quick_buy_id }}" class="button quick_button_add_to_card">
        <span class="sr-only">{{ 'product.general.choose_options' | t }}</span>
        {{ 'sections.custom_quick_add_button.label_button' | t }}
        </button>

        <quick-buy-modal handle="{{ product.handle }}?variant={{ product.selected_or_first_available_variant.id }}" class="quick-buy-modal modal" id="{{ quick_buy_id }}">
        </quick-buy-modal>
    {%- endif -%}
{%- endif -%}