{{ 'c-home-multi-banner.css' | asset_url | stylesheet_tag }}

{% style %}
  .c-home-multi-banner#c-section--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}

<div class="c-home-multi-banner" id="c-section--{{ section.id }}">
  <div class="multi-banner-container">
    <div class="multi-banner-content">
      {% for block in section.blocks %}
        <div class="banner-item" style="background-color: {{ block.settings.background_color }};">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | image_url }}" width="1200" height="800" fetchpriority="high" loading="eager" decoding="async" alt="{{ block.settings.image.alt | default: block.settings.title }}" title="{{ block.settings.image.alt | default: block.settings.title }}"/>
          {% endif %}

          {% if block.settings.title != blank or block.settings.description != blank %}
            <div class="banner-content" style="color: {{ block.settings.text_color }}; background-color: {{ block.settings.background_color }};">
              {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}

              {% if block.settings.description != blank %}
                {{ block.settings.description }}
              {% endif %}

              {% if block.settings.link_url != blank and block.settings.link_text != blank %}
                <a href="{{ block.settings.link_url }}" class="link">
                  {{ block.settings.link_text }}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:c_sections.c_home_multi_banner.name",
    "tag": "section",
    "max_blocks": 3,
    "settings": [
      {
        "type": "checkbox",
        "id": "first_section",
        "label": "t:c_sections.c_home_multi_banner.settings.set_primary_section.label"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "t:sections.multi_column.settings.grid.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "t:sections.multi_column.settings.grid.padding_bottom",
        "default": 0
      },
    ],
    "blocks": [
      {
        "type": "item_banner",
        "name": "t:c_sections.c_home_multi_banner.blocks.item_banner.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:c_sections.c_home_multi_banner.blocks.item_banner.settings.image.label"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "t:c_sections.c_home_multi_banner.blocks.item_banner.settings.background_color.label"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "t:c_sections.c_home_multi_banner.blocks.item_banner.settings.header_item.label"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "t:global.text.content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "t:c_sections.c_home_multi_banner.blocks.item_banner.settings.text_color.label"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "t:global.text.link_url"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "t:global.text.link_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:c_sections.c_home_multi_banner.name",
        "blocks": [
          {
            "type": "item_banner",
            "settings": {
              "image": "shopify://shop_images/Ilettre_Jours_C.png",
              "background_color": "#a0d4ff",
              "title": "<strong>LES JOURS C!</strong>",
              "description": "<p><strong>Jusqu’à 50 % de rabais</strong> sur vos essentiels préférés. Testés, approuvés et adorés par vous, parmi les meilleurs vendeurs de plus de 50 marques professionnelles reconnues pour leurs résultats, leur qualité et leur efficacité au quotidien. </p>",
              "text_color": "#1c1c1c",
              "link_url": "shopify://collections/les-jours-c",
              "link_text": "magasiner"
            }
          },
          {
            "type": "item_banner",
            "settings": {
              "image": "shopify://shop_images/Musts_FPS_Corps_et_Visage.png",
              "background_color": "#fe658c",
              "title": "<strong>NOS INCONTOURNABLES SOLAIRES</strong>",
              "description": "<p>Les incontournables soins solaires visage et corps, pour vous ou toute la famille. Disponibles en crème, en brume ou en bâton pour s’adapter à votre routine. <strong>Brosse démêlante rose gratuite dès 55 $ d’achat!</strong></p>",
              "text_color": "#ffffff",
              "link_url": "shopify://collections/visage-corps-soin-solaire",
              "link_text": "magasiner"
            }
          },
          {
            "type": "item_banner",
            "settings": {
              "image": "shopify://shop_images/Baton_Oribe_750_x_600_px.png",
              "background_color": "#1e234c",
              "title": "<strong>LE SECRET D'UN SLEEK PARFAIT</strong>",
              "description": "<p>Bâton de cire lissant qui maîtrise frisottis et mèches rebelles, offrant brillance, douceur et tenue flexible longue durée impeccable, sans effet gras ni résidus visibles.</p>",
              "text_color": "#ffffff",
              "link_url": "shopify://products/oribe-baton-de-cire-pour-cheveux-supershine-39-g",
              "link_text": "magasiner"
            } 
          }
        ]
      }
    ]
  }
{% endschema %}