{{ 'custom-promotions-list.css' | asset_url | stylesheet_tag }}

{% if page.template_suffix == 'brand-marathon'%}
  {{ 'custom-page-brand-marathon.css' | asset_url | stylesheet_tag }}
{% endif %}

{% style %}
  .section--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}

<div class="promotions-list-section color-scheme color-scheme--{{ section.settings.color_scheme.id }} section--{{ section.id }}">
  {% style %}
    .section--{{ section.id }}.promotions-list-section .section-content {
      grid-template-columns: repeat({{ section.settings.items_per_row_mobile }}, 1fr);
    }

    {% if section.settings.show_slider_in_mobile %}
      @media (max-width: 1023px) {
        .section--{{ section.id }}.promotions-list-section .section-wrapper.slider-mobile .section-content {
          grid-template-columns: repeat({{ section.blocks.size }}, 75%);
        }
      }
    {% endif %}

    @media (min-width: 1024px) {
      .section--{{ section.id }}.promotions-list-section .section-content {
        grid-template-columns: repeat({{ section.settings.items_per_row }}, 1fr);
      }

      {% if section.settings.show_slider_in_desktop %}
        .section--{{ section.id }}.promotions-list-section .section-wrapper.slider-desktop .section-content {
          grid-template-columns: repeat({{ section.blocks.size }}, 25%);
        }
      {% endif %}
    }
  {% endstyle %}

  {% if section.settings.section_title != blank %}
    <div class="container {% if section.settings.show_view_all_link %} with-link{% endif %}">
      <h2 class="section-title h2">{{ section.settings.section_title }}</h2>
      {% if section.settings.show_view_all_link %}
        <a href="{{ section.settings.view_all_link_url }}" class="view-all-link link">{{ section.settings.view_all_link_text }}</a>
      {% endif %}
    </div>
  {% endif %}
  <div class="section-wrapper {% if section.settings.show_slider_in_mobile %} slider-mobile{% endif %} {% if section.settings.show_slider_in_desktop %} slider-desktop{% endif %}">
    <div class="section-content">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'promotion_card' %}
            {% render 'custom-item-card', item_card_type: 'promotion-card', item_image: block.settings.promotion_image, item_title: block.settings.promotion_title, item_description: block.settings.promotion_description, item_link: block.settings.promotion_link, item_link_label: block.settings.promotion_link_text, card_with_expiration: block.settings.card_with_expiration, expiration_month: block.settings.expiration_month, expiration_day: block.settings.expiration_day %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% if page.template_suffix == 'brand-marathon'%}
  <script src="{{ 'custom-page-brand-marathon.js' | asset_url }}" defer></script>
{% endif %}

{% schema %}
  {
    "name": "# Promotions list",
    "settings": [
      {
        "type": "header",
        "content": "Promotions list settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:global.colors.scheme",
        "default": "scheme-1"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Nos promotions"
      },
      {
        "type": "range",
        "id": "items_per_row",
        "label": "Items per row",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 5
      },
      {
        "type": "range",
        "id": "items_per_row_mobile",
        "label": "Items per row mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "show_slider_in_mobile",
        "label": "Show slider in mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_slider_in_desktop",
        "label": "Show slider in desktop",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all_link",
        "label": "Show 'View all' link",
        "default": false
      },
      {
        "type": "url",
        "id": "view_all_link_url",
        "label": "'View all' link URL"
      },
      {
        "type": "text",
        "id": "view_all_link_text",
        "label": "'View all' link text",
        "default": "Voir tout"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 48
      }
    ],
    "blocks": [
      {
        "type": "promotion_card",
        "name": "Promotion card",
        "settings": [
          {
            "type": "image_picker",
            "id": "promotion_image",
            "label": "Promotion image"
          },
          {
            "type": "text",
            "id": "promotion_title",
            "label": "Promotion title"
          },
          {
            "type": "richtext",
            "id": "promotion_description",
            "label": "Promotion description",
          },
          {
            "type": "url",
            "id": "promotion_link",
            "label": "Promotion link"
          },
          {
            "type": "text",
            "id": "promotion_link_text",
            "label": "Promotion link text",
            "default": "Voir plus"
          },
          {
            "type": "header",
            "content": "Settings for page template 'brand-marathon'"
          },
          {
            "type": "checkbox",
            "id": "card_with_expiration",
            "label": "This promotion has an expiration date",
            "default": false
          },
          {
            "type": "select",
            "id": "expiration_month",
            "label": "Expiration month",
            "options": [
              {
                "value": "01",
                "label": "January"
              },
              {
                "value": "02",
                "label": "February"
              },
              {
                "value": "03",
                "label": "March"
              },
              {
                "value": "04",
                "label": "April"
              },
              {
                "value": "05",
                "label": "May"
              },
              {
                "value": "06",
                "label": "June"
              },
              {
                "value": "07",
                "label": "July"
              },
              {
                "value": "08",
                "label": "August"
              },
              {
                "value": "09",
                "label": "September"
              },
              {
                "value": "10",
                "label": "October"
              },
              {
                "value": "11",
                "label": "November"
              },
              {
                "value": "12",
                "label": "December"
              }
            ],
            "visible_if": "{{ block.settings.card_with_expiration == true }}"
          },
          {
            "type": "select",
            "id": "expiration_day",
            "label": "Expiration day",
            "options": [
              {
                "value": "01",
                "label": "01"
              },
              {
                "value": "02",
                "label": "02"
              },
              {
                "value": "03",
                "label": "03"
              },
              {
                "value": "04",
                "label": "04"
              },
              {
                "value": "05",
                "label": "05"
              },
              {
                "value": "06",
                "label": "06"
              },
              {
                "value": "07",
                "label": "07"
              },
              {
                "value": "08",
                "label": "08"
              },
              {
                "value": "09",
                "label": "09"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "11",
                "label": "11"
              },
              {
                "value": "12",
                "label": "12"
              },
              {
                "value": "13",
                "label": "13"
              },
              {
                "value": "14",
                "label": "14"
              },
              {
                "value": "15",
                "label": "15"
              },
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "17",
                "label": "17"
              },
              {
                "value": "18",
                "label": "18"
              },
              {
                "value": "19",
                "label": "19"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "21",
                "label": "21"
              },
              {
                "value": "22",
                "label": "22"
              },
              {
                "value": "23",
                "label": "23"
              },
              {
                "value": "24",
                "label": "24"
              },
              {
                "value": "25",
                "label": "25"
              },
              {
                "value": "26",
                "label": "26"
              },
              {
                "value": "27",
                "label": "27"
              },
              {
                "value": "28",
                "label": "28"
              },
              {
                "value": "29",
                "label": "29"
              },
              {
                "value": "30",
                "label": "30"
              },
              {
                "value": "31",
                "label": "31"
              }
            ],
            "visible_if": "{{ block.settings.card_with_expiration == true }}"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "# Promotions list"
      }
    ],
  }
{% endschema %}