{% if section.blocks.size > 0 %}
  {{ 'custom-collection-bullets.css' | asset_url | stylesheet_tag }}

  {% style %}
    .shopify-section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .shopify-section--{{ section.id }} #collection-tags-container {
      width: max-content;
    }
  {% endstyle %}

  <div class="section-bullet-list--{{ section.id }}">
    {% if section.settings.section_title %}
      {% style %}
        .section-bullet-list--{{ section.id }} .section-title {
          text-align: {{ section.settings.section_title_alignment }};
          display: block;
          width: 100%;
          margin-bottom: 48px;
        }

        @media (max-width: 767px) {
          .section-bullet-list--{{ section.id }} .section-title {
            margin-bottom: 36px;
            text-align: center;
          }
        }
      {% endstyle %}
      <h2 class="h2 section-title container">{{ section.settings.section_title }}</h2>
    {% endif %}

    <div class="collection-tags shopify-section--{{ section.id }} collection-bullets">
      {% if section.blocks.size > 0 %}
        <div class="collection-tags-wrapper" id="collection-tags-container">
          {% for bullet in section.blocks %}
            {% style %}
              .tag.tag-collection.tag-collection-bullet.tag-index--{{ forloop.index }} {
                position: relative;
                overflow: hidden;
                {% if bullet.settings.image == blank  %}
                  background-color: {{ bullet.settings.background_item_color }};
                {% else %}
                  background-image: url({{ bullet.settings.image | image_url: width: 180, height: 180  }});
                  background-size: cover;
                {% endif %}
                color: {{ bullet.settings.text_item_color }};
                border-color: {{ bullet.settings.border_item_color }};
              }

              .tag.tag-collection.tag-collection-bullet.tag-index--{{ forloop.index }}:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: {{ bullet.settings.overlay_color }};
                opacity: {{ bullet.settings.overlay_opacity | times: 0.01 }};
              }
            {% endstyle %}

            <a href="{{ bullet.settings.collection.url }}" class="tag tag-collection tag-collection-bullet tag-index--{{ forloop.index }}" role="link" tabindex="0">
              <span>{{ bullet.settings.collection.title }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <script>
    function isIosSafari() {
        var ua = (window.navigator && navigator.userAgent) || '';
        var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
        var webkit = !!ua.match(/WebKit/i);
        var iOSSafari = iOS && webkit && !ua.match(/CriOS/i);
        return iOSSafari;
    }

    function removeHoverIosSafari() {
      if (!isIosSafari()) return;
      // Tags of interest: Only process certain interactive elements
      function shouldPrevent(target) {
          var tagName = target.tagName.toLowerCase();
          var datasetBind = target.dataset.bind;
          var preventFilter = (datasetBind && datasetBind.indexOf('click') > -1) || (tagName == 'a' || tagName == 'button');
          return preventFilter;
      }
      var eventSelector = {
          touchend: function (_, target) {
              // Reset any flags on touchend
              target.dataset._clicked_ = '';
              target.dataset._mousemove_ = '0';
              target.dataset._timeOutId_ = '';
          },
          mouseover: function (e) {
              e.preventDefault(); // Prevent default hover behavior
          },
          mousemove: function (e, target) {
              e.preventDefault(); // Prevent default hover behavior
              var _mousemoves = +(target.dataset._mousemove_ || '0');
              _mousemoves = _mousemoves + 1;
              console.log('mousemoves: ' + _mousemoves);
              target.dataset._mousemove_ = _mousemoves;
              // Trigger click event after enough movement
              if (_mousemoves > 1 && !target.dataset._timeOutId_) {
                  var id = setTimeout(function () {
                      console.log('double mousemove click fired');
                      target.click(); // Simulate a click after mouse move
                  }, 80); // Adjust delay to fine-tune the click event timing
                  target.dataset._timeOutId_ = id;
              }
          },
          click: function (e, target) {
              // Prevent double click
              if (target.dataset._clicked_) {
                  // This check prevents interference with valid tracking
                  // and programmatic click events.
                  if (e.isTrusted) {
                    console.log('prevented doubleclick');
                    e.preventDefault();
                  }
                  return;
              }
              // Prevent timeout click
              if (target.dataset._timeOutId_) {
                  console.log('cleared timeout');
                  clearTimeout(+target.dataset._timeOutId_);
              }
              // Mark element as clicked
              target.dataset._clicked_ = 'true';
          }
      };
      function preventHover(e) {
          var target = e.target;
          // Skip elements that don't have click handlers or necessary attributes
          if (!(target && target.click && target.tagName && target.dataset)) return;
          if (!shouldPrevent(target)) return;
          var type = e.type;
          console.log(type, target);
          eventSelector[type] && eventSelector[type](e, target);
      }
      // Add event listeners for touch and mouse events
      document.addEventListener('touchend', preventHover, true);
      document.addEventListener('mouseover', preventHover, true);
      document.addEventListener('mousemove', preventHover, true);
      document.addEventListener('click', preventHover, true);
    }

    setTimeout(removeHoverIosSafari, 500);

  </script>
{% endif %}

{% schema %}
{
  "name": "# Collection bullet list",
  "class": "shopify-section--collection-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title section"
    },
    {
      "type": "select",
      "id": "section_title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1      
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1      
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
          "type": "color",
          "id": "background_item_color",
          "label": "Background color",
          "default": "#efefef"
        },
        {
          "type": "color",
          "id": "border_item_color",
          "label": "Border color",
          "default": "#CEE0D7"
        },
        {
          "type": "color",
          "id": "text_item_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.image.image",
          "info": "t:sections.collection_list.blocks.collection.image_size_recommendation"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:global.colors.overlay_color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:global.colors.overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "# Collection bullet list",
      "category": "t:global.categories.collections"
    }
  ]
}
{% endschema %}
